body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

#visualizations {
    display: flex;
}

.point {
    opacity: 50%;
}

.selected {
    stroke: orange;
    stroke-width: 5px;
}

.unselected {
    stroke: none;
    stroke-width: 0;
}